body {
    background-color:  #9f6524;
    background-image: url(dindingkayu2.png);
    background-repeat: no-repeat;
    background-position: center center;
}

h1 {
    background-image: url(dindingkayu2.png);
    background-repeat: no-repeat;
}

/* atau       |warna |gambar               |repeat   |posisi    */
/* background: white url(dindingkayu2.png) no-repeat top center; */